[CRAB]
jobtype   = cmssw
scheduler = condor
#scheduler = glite
#scheduler = remoteGlidein 
#scheduler = glidein
#use_server = 0

[CMSSW]

dbs_url                 =  phys03 
datasetpath             =  /PYTHIA8_H_Zg_M250_8TeV_cff_py_GEN_SIM/bpollack-PYTHIA8_H_Zg_M250_8TeV_cff_py_GEN_SIM-036f68b9104288e2390b0a7b060a6921/USER 
allow_NonProductionCMSSW = 1

pset                    =  ../cfgs/REDIGI_H_Zg_M250_DIGI_L1_DIGI2RAW_HLT_PU.py

total_number_of_events  =  -1
#events_per_job          =  1
#split_by_run            =  1 
number_of_jobs          = 200
output_file             = REDIGI_H_Zg_M250_DIGI_L1_DIGI2RAW_HLT_PU.root 

[USER]

return_data             =  0
publish_data            =  1
publish_data_name       =  REDIGI_PYTHIA8_H_Zg_M250_8TeV_cff_py_GEN_SIM

copy_data               =  1
#storage_element         = cmssrm.fnal.gov
#storage_path            = /srm/managerv2?SFN=/11/store/user/bpollack/
#srm_version             = 2
#storage_element         =  T3_US_FNALLPC
storage_element         =  cmseos.fnal.gov                                  
storage_path            =  /srm/v2/server?SFN=/eos/uscms/


#dbs_url_for_publication = https://cmsdbsprod.cern.ch:8443/cms_dbs_ph_analysis_02_writer/servlet/DBSServlet
dbs_url                 = phys03

ui_working_dir          =  HZG_Step1_M250
user_remote_dir         =  /store/user/bpollack/GenMC/H_ZG_M250/Redigi 



[GRID]

retry_count             =  2
shallow_retry_count     =  3
